{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center">Backup & recovery</h4>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <a href="{{ path('backup') }}" class="btn btn-primary">Download CSV file</a>
                            </div>
                            <div class="col">
                                <div class="col">
                                    <a href="{{ path('backup_recovery') }}" class="btn btn-primary">Upload CSV file</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center">Security settings</h4>
                    <hr>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                Password
                            </div>
                            <div class="col ml-auto text-right">
                                <a href="{{ path('account_password') }}">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Remove account
                            </div>
                            <div class="col ml-auto text-right">
                                <a href="{{ path('account_remove') }}">
                                    <span class="fa fa-close"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
