{% extends 'base.html.twig' %}

{% block title %}Edit Credentials{% endblock %}

{% block body %}
    <h1>Edit Credentials</h1>

    {{ include('credential/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('credential_index') }}">back to list</a>

    {{ include('credential/_delete_form.html.twig') }}
{% endblock %}
