{% extends 'base.html.twig' %}

{% block title %}Edit Credentials{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            <a href="{{ path('credential_index') }}" class="btn btn-primary my-3 rounded-circle shadow">
                <span class="fa fa-arrow-left"></span>
            </a>
            <h4 class="card-title">Edit Credential</h4>

            {{ include('credential/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('credential/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
