{% extends 'base.html.twig' %}

{% block title %}Hello BackupController!{% endblock %}

{% block body %}
    <div class="card shadow">
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
